<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
      <ion-title>Lista de presença</ion-title>
    </ion-toolbar>
  </ion-header>
    
  <ion-content padding>
    <ion-card>
      <ion-card-header>
        <ion-buttons>
          <ion-button color="primary" fill="clear" (click)="create()">CRIAR NOVA REUNIÃO</ion-button>
          <ion-button color="primary" fill="clear" (click)="historico()">HISTÓRICO</ion-button>
        </ion-buttons>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title text-center >Lista de presença da reunião do dia {{this.data}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list lines="none">
          <ion-row>
            <ion-col size="4">
              <ion-item>
                <h2>Nome</h2>
              </ion-item>
              <ion-item-sliding *ngFor="let nomes of name">
                <ion-item>
                    <ion-label>{{nomes}}</ion-label>
                </ion-item>
              </ion-item-sliding>
            </ion-col>
            <ion-col size="2">
              <ion-item>
                <h2>Presença</h2>  
              </ion-item>
              <ion-item-sliding *ngFor="let listas of lista">
                <ion-item>
                    <ion-label>{{listas.presenca}}</ion-label>
                </ion-item>
              </ion-item-sliding>
            </ion-col>
            <ion-col size="5">
              <ion-item>
                <h2>Motivo</h2>
              </ion-item>
              <ion-item-sliding *ngFor="let listas of lista">
                <ion-item>
                    <ion-label>{{listas.motivo}}</ion-label>
                </ion-item>
              </ion-item-sliding>
            </ion-col>
            <ion-col size="1">
              <ion-item>
                <h2 class="color">Editar</h2>
              </ion-item>
              <ion-item-sliding *ngFor="let listas of lista">
                <ion-item>
                  <ion-buttons slot="start">
                    <ion-button color="primary" fill="clear" (click)="editar(listas.id)"><ion-icon name="create"></ion-icon></ion-button>
                  </ion-buttons>
                </ion-item>
              </ion-item-sliding>
            </ion-col>
          </ion-row>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-content>

