<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button ></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
  </ion-header>
<ion-content padding>
    <ion-grid text-center >
      <div class="box">
        <h2>Editar Presença</h2>
        <form #form="ngForm" (ngSubmit)="editar(form)" method="POST">
          <ion-grid text-justify>
            <ion-label>Nome: {{this.name}}</ion-label>
          </ion-grid>
          <ion-grid text-justify>
            <ion-label>Presença:</ion-label>
            <ion-list lines="none">
              <ion-radio-group ngModel name="presenca">              
                <ion-item>
                  <ion-label>Presente</ion-label>
                  <ion-radio value="1" slot="start" [checked]="checked1"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>Não presente</ion-label>
                  <ion-radio value="0"slot="start" [checked]="checked2"></ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-list>
          </ion-grid>
          <ion-grid text-justify>
            <ion-label>Motivo:</ion-label>
            <ion-input type="text" required="true" name="motivo" [(ngModel)]="this.motivo"></ion-input>
          </ion-grid>
          <br>
          <ion-grid>
            <ion-button type="submit" round expand="block" color="danger">Salvar</ion-button>
          </ion-grid>
          <br>
        </form>
      </div>
    </ion-grid>
  </ion-content>
  