<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-grid text-center >
    <div class="box">
      <h2>Cadastrar Mural</h2>
      <br><br>
      <form #form="ngForm" (ngSubmit)="cadastrar(form)" method="POST">
        <ion-grid>
          <ion-textarea ngModel placeholder="Digite algo" name="texto" type="text" required="true" ></ion-textarea>
        </ion-grid>
        <br>
        <ion-grid>
          <ion-button type="submit" round expand="block" color="danger">Cadastrar</ion-button>
        </ion-grid>
      </form>
    </div>
  </ion-grid>
</ion-content>