<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Área do Administrador</ion-title>
  </ion-toolbar> 
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="box">
          <h3>Reunião {{this.data}}</h3>
        </div>
      </ion-col>
      <ion-col>
        <div class="box">
          <h3>Presentes: {{this.presente}}</h3>
        </div>
      </ion-col>
      <ion-col>
        <div class="box">
          <h3>Ausentes: {{this.ausente}}</h3>
        </div>
      </ion-col>
    </ion-row>
    </ion-grid>
</ion-content>
