<ion-content padding>
    <ion-button fill='clear' (click)="dismiss()" style="color: white">
      <ion-icon name="arrow-round-back" slot="start"></ion-icon>
      Back
    </ion-button>
    <ion-grid text-center>
      <ion-icon name="card" class="icon"></ion-icon>
    </ion-grid> 
    <br>
    <ion-grid text-center >
      <div class="box">
        <br><br>
        <h2>Cadastrar Financeiro</h2>
        <form #form="ngForm" (ngSubmit)="cadastrar(form)" method="POST">
          <br>
          <ion-grid>
            <ion-input ngModel placeholder="00,00" name="valor" type="number" required="true"></ion-input>
          </ion-grid>
          <br>
          <ion-grid>
            <ion-button type="submit" round expand="block" color="danger">Cadastrar</ion-button>
          </ion-grid>
        </form>
      </div>
    </ion-grid>
  </ion-content>